{% extends 'base.html'%}
{% block head %}<h2>&#123;profile&#125;</h2>{% endblock %}

{% block body %}

<h1 style="color: {{ data3.color }}" scope="row" class="text-start">{{ data3.login }} </h1>

<a href="{{ url_for('logout') }}" style="text-align: right;">Выйти из аккаунта</a>
<a href="{{ url_for('logout') }}" style="text-align: right;">Настройки учетной записи</a>


<div class="container">
{{ data3.email }}
        {% for el in data3.posts.all() %}
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h1 class="my-0 fw-normal">{{ el.title }}</h1>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title"><small class="text-muted fw-light" style="font-family: Comic Sans MS, cursive, sans-serif;">{{ el.text }}</small></h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Создано {{ el.publishing_date }}</li>

            </ul>
            <a href="/read/{{ el.post_id }}" class=" btn btn-primary">Взглянуть</a>
              <a href="/read/{{ el.post_id }}/update" class=" btn btn-primary" style="background-color: green; ">Редактировать</a>
              <a href="/read/{{ el.post_id }}/delete" class=" btn btn-primary" style="background-color: red;">Удалить(навсегда)</a>
              
          </div>
        </div>
        {% endfor %}
</div>

{% endblock %}
