{% extends 'base.html'%}
{% block head %}<h2 xmlns="http://www.w3.org/1999/html">&#123;update_the_post&#125;</h2>{% endblock %}
{% block body %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}
<div class="container">
    <h1>Обновление публикации</h1>
    <form method="post">
        <textarea class="form-control" name="title" id="title" placeholder="Название">{{ post_upd.title }}</textarea><br>
        <textarea class="form-control" name="text" id="text" placeholder="Текст">{{ post_upd.text }}</textarea><br>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Добавить статью</button>
    </form>
</div>
{% endblock %}